body{
    background: url(D:\oclock.jpg);

    color: white;
    display: grid;
    grid-template-rows: 50px 50px;
    gap: 50px;
    margin-left: 40%;
    
}
.box_of_time{
    font-size: 25px;
    border:5px solid white;
    color: white;
    text-align: center;
    align-items: center;
    width: 300px;
}
button{
    width: 300px;
    background-color: black;
    border-color: white;
    color: white;
    height: 40px;
}
button:hover{
    background-color: white;
    color:black;
    
}